$header_font_color: white;
$header_hover_color: #DCF10D;
$main_background: white;
$main_font_color: #10131C;
$main_buttom_bcolor: #F8F9FC;

$headerFoter_background: #10131C;
$footer_font_color: white;
$footer_font_color2:#D7F8FF;

