@use 'colors';
@use 'variables';
@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: black;  
  font-family: variables.$font;
}

header {
  background-color: colors.$headerFoter_background;
  width: 1200px; /* Set desired width */
  height: 84px; /* Set desired height */
  margin: auto ;
  text-align: center;
  font-size: variables.$header_font_size;
  font-style: variables.$header_font_style;
  font-weight: variables.$header_font_weight;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

nav li {
  display: inline;
  padding-left: 30px;   
}

nav li a{
  color: colors.$header_font_color;
  text-decoration: none;
  transition: .3s ease;
  
  }

  nav li a:hover{
    color: colors.$header_hover_color;
    text-decoration: none;
    text-decoration-line: variables.$header_hover_decoration;
    }
    
  nav #login a {
    color: blue;
    border: 1px solid #0266FF;
    border-radius: 40px;
    padding: 16px 20px;
    gap: 5px;
  }

  nav #signup a {
    padding-left: 40px;
  }

header img {
  float: left;
  width: 109.71px;  
  height: 26px;
}

nav {
  justify-content: space-between;
}

header ul {
    padding-left: 250px;
}

.mainContainer {
    background-color: colors.$main_background; /* Set desired background color */
    width: 1200px; /* Set desired width */
    height: 1097px; /* Set desired height */
    margin: auto;
    color: colors.$main_font_color;
    font-family: variables.$font;
    font-weight: variables.$main_font_weight;
    font-size: variables.$main_font_size;
    line-height: variables.$main_line_height;
    letter-spacing: variables.$main_letter_spacing;

}  

footer {
    background-color: colors.$headerFoter_background; /* Set desired background color */
    width: 1200px; /* Set desired width */
    height: 274px; /* Set desired height */
    margin: auto;
}

main img {
    width: 350px;
    height: 150px;
    object-fit: cover;
    position: relative;
    display: inline-block;
}


.mainContainer .cards {
  margin-left: 100px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  position: absolute;
}

.cards {
  position: absolute;
  padding-top: 20px;
}

#button  {
  display: flex;
  justify-content: space-between;
}

.btns{
  background: transparent;
  border: none;
  outline: none;
  color: gray;
}

.btns i:hover {
  cursor: pointer;
}

.card {
  width: 320px;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;

}

  
#button {
  font-weight: 400;
  font-size: 12px;
  line-height: 15.6px;
  background-color: colors.$main_buttom_bcolor;
  padding-left: variables.$main_padding;
  padding-right: 10px;
  line-height: variables.$main_line_height_buttom;
  color: #9D9DB5;
  padding-top: 5px;
}
.content {
  background-color: colors.$main_buttom_bcolor;
  padding-left: variables.$main_padding;
  position: relative;
  display: inline-block;
}
.container_icon {
  background-color: colors.$main_buttom_bcolor;
  padding-left: variables.$main_padding;
}
.hover-element {
  position: relative;
  display: none;

}
.card:hover .hover-element {
  display: block;
  }

.card .border {
  border: 0.5px solid #9D9DB5;
  width: 280px;
  margin: auto;
}

.red {
  color: red;
}
.readBtn {
  border: none;
  outline:   none;
  color: gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  }

.green {
  color: green;
}

.readBtn i:hover {
  cursor: pointer;
}

.delete {
  color: #9D9DB5;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  left: 85%;
  right: 80%;
  top: 20%;
  bottom: 30%;

  font-size: 15px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

span:hover {
  opacity: 1;
  cursor: pointer;
}

.image-container {
  position: relative;
  display: inline-block;
}

.footerContainer1 {
  padding: 5%;
  padding-bottom: 10px;
  display: flex;
  color: colors.$footer_font_color;
  font-weight: variables.$main_font_weight;
  font-family: variables.$font;
}

.footerContainer2 {
  padding-left: 60px;
  color: colors.$footer_font_color;
  font-weight: variables.$main_font_weight;
  font-family: variables.$font;
}


.course {
  margin-bottom: 15px;  
  font-size: variables.$footer_font_size;
  }


.followUs {
  padding-left: 20%;
}

.blog {
margin-bottom: 40px;  
font-size: variables.$footer_font_size;
}

.followUs{
  font-size: variables.$footer_font_size2;
  font-weight: 400;
}

.footerContainer1 ul{
  font-size: variables.$footer_font_size2;
  @include mixins.footerCont();
  padding-top: 20px;
}

.footerContainer2 ul{
  font-size: variables.$footer_font_size2;
  @include mixins.footerCont();
}

.footerList ul li {
  @include mixins.footerList();
}

.footerList ul li {
  @include mixins.footerList();
}

.blog ul {
  color: colors.$footer_font_color2;
}

.footerContainer2  ul li {
  color: colors.$footer_font_color2;
}

.Terms {
  display: flex;
}


.term {
  padding-left: 610px;
}

