$font : "Inter", sans-serif;
$header_font_weight: 500;
$header_font_size: 16px;
$footer_font_size: 16px;
$footer_font_size2: 12px;
$header_font_height: 24px;
$header_font_style: normal;
$header_hover_decoration: underline;
$main_font_weight: 700;
$main_font_size: 20px;
$main_line_height: 26px;
$main_letter_spacing: -2%;
$main_padding: 15px;
$main_line_height_buttom: 130%;

